@font-face {
  font-family: Poppins; 
  src: url('./assets/fonts/Poppins/Poppins-Light.otf');
}

/* @font-face {
  font-family: Caviar Dreams Bold;
  src: url('./assets/fonts/CaviarDreams_Bold.ttf');
}

@font-face {
  font-family: Ridin Dirty;
  src: url('./assets/fonts/RidinDirty.ttf');
} */

body {
  margin: 0;
  font-family: Poppins;
} 
